<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.jboss.ce.chooks.valve">
    <resources>
        <resource-root path="valve-container-hooks-1.0.0-SNAPSHOT.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.servlet.api"/>
        <module name="org.jboss.as.web"/>
    </dependencies>
</module>
